.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dotnet/
.gitconfig
.gnupg/
.java/
.javacpp/
.keras/
.lesshst
.local/
.m2/
.mozilla/
.mplayer/
.mupdf.history
.npm/
.pki/
.pulse-cookie
.sonarlint/
.ssh/
.steam/
.steampath
.steampid
.swo
.swp
.thunderbird/
.viminfo
.vscode-oss/
.vscode/
.wget-hsts
.wine/
.xsession-errors
Documents/
Downloads/
Games/
Logs/
Pictures/

